// @import "./color_style.scss";
/*声明 WebFont*/
    @font-face {
        font-family: 'STKAITI';
        src: url('../font/STKAITI.ttf');
        src:
                url('../font/STKAITI.eot?#font-spider') format('embedded-opentype'),
                url('../font/STKAITI.woff') format('woff'),
                url('../font/STKAITI.ttf') format('truetype'),
                url('../font/STKAITI.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }

// /*使用选择器指定字体*/
// body, h1, span {
//     font-family: 'pinghei';
// }